Slackwater/Resources/chs-current-gates.json linguist-generated=true
Slackwater/Resources/chs-gates.json linguist-generated=true
Slackwater/Resources/chs-stations.json linguist-generated=true
Slackwater/Resources/chs-tombstones.json linguist-generated=true
Slackwater/Resources/currents.json linguist-generated=true
Slackwater/Resources/stations.json linguist-generated=true
